@use "../../settings/color" as *;

.cards {
  display: flex;
  gap: 1rem;
  margin: 1rem;
  padding: 1rem;
}

.card {
  background-color: $green-f;
}

.card__image {
  img {
    width: 10rem;
  }
}

.wrapper {
  max-width: 160rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
